 body {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    min-height: 98vh;
    max-width: 90vw;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: auto;
    padding: 0;
 }

 .imageQR {
    display: block;
    margin: 30px auto;
 }

 #reloj {
    margin: auto;
    text-align: center;
    color:darkorange;
    font-weight: bold; 
    font-size: 18px;   
 }   

 .relojH3 {
    margin-top: 0;
    margin-bottom: 0;
 }

 h1 {
    color:darkorange;
    text-align: center;
}

h2 {
    color: darkorange;
    text-align: center;
}

h3 {
    color: darkorange;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

p {
    font: tahoma;    
    text-align: center;
}

a {
    text-decoration: none;
    color: darkblue
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

.navHeader {
    background-color: #010481;    
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(7, 124, 235, 0.856);
}  

.navHeader a {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 15px;
}

input[type="submit"] {
    display: inline-block;
    background-color: darkorange;
    color: white;
    padding: 6px 15px;
    border: 1px solid darkorange;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: red;
    box-shadow: 1px 1px 5px darkorange;
}

.btDeshabilitado {    
    cursor: default; 
    opacity: 0.6;        
    background-color: #ccc;
    color: #666;        
}

.btDeshabilitado:hover {
    box-shadow: none;
}

.btEnviar {
    display: inline-block;
    background-color: darkorange;
    color: white;
    padding: 6px 15px;
    border: 1px solid darkorange;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btEnviar:hover {
    background-color: red;
    box-shadow: 1px 1px 5px darkorange;
}

button {
    display: inline-block;
    border-radius: 5px;
    padding: 6px 15px;
    cursor: pointer;
    text-align: center;
    border: 1px solid gray;
}

button:hover {
    box-shadow: 1px 1px 5px gray;
}

.button--primary {
    background-color: darkorange;
    color: white;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button--primary:hover {
    background-color: orangered;
}

.button--danger {
    background-color: darkred;
    color: white;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button--danger:hover {
    background-color: red;
}

form {
      
    background-color: oldlace; 
    border-radius: 5px;
    padding: 20px;       
    width: 250px;   
    margin: 0 auto;          
}

input[type="text"] { 
    width: 240px; 
    padding: 4px; 
    outline: none;    
}

input[type="text"]:focus {
    border: 2.5px solid darkorange;        
}

input[type="text"]:read-only {
    background-color: linen;       
}

input[type="password"]:read-only {
    background-color: linen;       
}

input[type="email"] { 
    width: 240px; 
    padding: 4px; 
    outline: none;    
}

input[type="email"]:focus {
    border: 2.5px solid darkorange;        
}

input[type="password"] { 
    width: 240px; 
    padding: 4px; 
    outline: none;    
}

input[type="password"]:focus {
    border: 2.5px solid darkorange;        
}

.validaRegistro:valid {
  color: darkgreen;
  font-weight: bold;
  border: 2px solid darkgreen;
}

.validaRegistro:invalid {
  color:darkred;
  font-weight: bold;  
}

textarea {
    field-sizing: content;  
    width: 237px;
    height: 100px;
    resize: none;
    padding: 0.5em;  
    outline: none;   
}

textarea:focus {
    border:2.5px solid darkorange;
}

select { 
    width: 250px; 
    padding: 4px; 
    outline: none;    
}

select.option:focus {
    border: 2.5px solid darkorange;  
}
.p_form {
    text-align: left;
    margin: 2px;
}

.error {
    color: crimson;
    font-weight: bold;    
}

.correcto {
    color: darkgreen;
    font-weight: bold;
}

.escondido {
    display: none;
}

.menu li {
  position: relative; /* Necesario para posicionar el submenú */
}

.submenu {
  display: none; /* Oculta el submenú */
  position: absolute; /* Posiciona el submenú respecto al <li> padre */
  top: 100%; /* Debajo del elemento padre */
  left: 0%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid #010481;
  z-index: 1;
  list-style: none;
  padding: 0;
  min-width: 140px;
}

.submenu li a {
  color: #010481;
  font-size: 14px;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.menu li:hover > .submenu {
  display: block; /* Muestra el submenú */
}

.login-cert {
    background-color: lightgreen;
    color:darkgreen;
    padding: 15px;    
    border-radius: 5px;
    border:darkgreen 2px solid;
    text-align: center;
    width: fit-content;
    margin: 0px auto 20px auto;
}