 body {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    min-height: 98vh;
    max-width: 90vw;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: auto;
    padding: 0;
 }

 h1 {
    color:darkorange;
    text-align: center;
}

h2 {
    color: darkblue;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

p {
    font: tahoma;    
    text-align: center;
}

a {
    text-decoration: none;
    color: darkblue
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

.navHeader {
    background-color: #010481;    
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(7, 124, 235, 0.856);
}  

.navHeader a {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 15px;
}

input[type="submit"] {
    display: inline-block;
    background-color: darkorange;
    color: white;
    padding: 6px 15px;
    border: 1px solid darkorange;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: red;
    box-shadow: 1px 1px 5px darkorange;
}

.btEnviar {
    display: inline-block;
    background-color: darkorange;
    color: white;
    padding: 6px 15px;
    border: 1px solid darkorange;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btEnviar:hover {
    background-color: red;
    box-shadow: 1px 1px 5px darkorange;
}

button {
    display: inline-block;
    border-radius: 5px;
    padding: 6px 15px;
    cursor: pointer;
    text-align: center;
    border: 1px solid gray;
}

button:hover {
    box-shadow: 1px 1px 5px gray;
}

.button--primary {
    background-color: darkorange;
    color: white;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button--primary:hover {
    background-color: orangered;
}

.button--danger {
    background-color: darkred;
    color: white;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button--danger:hover {
    background-color: red;
}

form {
      
    background-color: oldlace; 
    border-radius: 5px;
    padding: 10px;       
    width: 250px;   
    margin: 0 auto;          
}

input[type="text"] { 
    width: 240px; 
    padding: 4px; 
    outline: none;    
}

input[type="text"]:focus {
    border: 2.5px solid darkorange;        
}

input[type="email"] { 
    width: 240px; 
    padding: 4px; 
    outline: none;    
}

input[type="email"]:focus {
    border: 2.5px solid darkorange;        
}

textarea {
    field-sizing: content;  
    width: 237px;
    height: 100px;
    resize: none;
    padding: 0.5em;  
    outline: none;   
}

textarea:focus {
    border:2.5px solid darkorange;
}

.p_form {
    text-align: left;
    margin: 2px;
}