        <% if (typeof username == 'undefined') {  %>
            <h1>Inicio</h1>
        <% } else {  %>
            <h1>Bienvenido <%= username %></h1>
        <% }; %>

        <% if (typeof mensajeOCSP != 'undefined') {  %>
            <h3><%= mensajeOCSP %></h3>
        <% }; %>
            
         
         
    