  <h1>Productos</h1>
  <section class="products">
    <% productos.forEach(producto => { %>
    <article>
      <h2><%= producto.title %></h2>
      <p><%= producto.description %></p>
      <div style="text-align: center">
        <img
          src="<%= producto.image %>"
          alt="<%= producto.title %>"
          width="50"
        />
      </div>
    </article>
    <% }); %>
  </section>

