<h1>Registro de Nuevos Usuarios</h1>

<form id="myForm" action="/registro" method="post">
    <p class="p_form">
        <label for="nombre">Nombre de Usuario: </label>
    </p>
        <input class="validaRegistro" type="text" name="nombre" id="nombre" required 
            minlength="8" pattern="(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+" 
            title="Mínimo 8 caracteres. Al menos una letra y número sin espacios"
            onfocus="document.getElementById('ocultar').hidden = true">
    
    <p class="p_form">
        <label for="password">Contraseña: </label>
    </p>
        <input class="validaRegistro" type="password" name="password" id="password" autocomplete="off" required 
        minlength="8" pattern="(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+" 
        title="Mínimo 8 caracteres. Al menos una letra y número sin espacios"
        onfocus="document.getElementById('ocultar').hidden = true">    
   
    <br>
    <br>
   
    <button class="btEnviar" type="submit">Alta Nuevo Usuario</button>     

    <% if ((enviado == 'true') && (visible == 'true')) { %>
    <p class="correcto" id="ocultar">Usuario registrado correctamente</p>
    <% } else if ((visible == 'true') && (existeUsu == 'true')) { %>
        <p class="error" id="ocultar">El usuario ya está registrado. Vaya a iniciar sesión</p>
        <% } else if (error == 'true') { %> 
            <p class="error" id="ocultar">Error al registrarse. Inténtelo de nuevo más tarde</p>
            <% } %>
   
</form>

<p>¿Ya estás registrado? <a href="/login">Iniciar sesión</a></p>

<br>

<div align="center">
    <button onclick="location.href='/'">Volver al Inicio</button>
</div>

<script>
        const nombre = document.getElementById("nombre");
        const password = document.getElementById("password");

        function validar() {
            if (nombre.value == password.value) {                
                password.setCustomValidity("Usuario y contraseña no pueden coincidir"); 
            } else {                
                password.setCustomValidity(""); 
            }
        }
        
        nombre.addEventListener("input", validar);
        password.addEventListener("input", validar);        
</script>