<h1>Registro de Nuevos Usuarios</h1>

<form id="myForm" action="/registro" method="post">
    <p class="p_form">
        <label for="dni">DNI de Usuario: </label>
    </p>
    <input class="validaRegistro" type="text" name="dni" id="dni" required maxlength="9" minlength="9"
        pattern=".{8}[A-Z]" title="9 caracteres. 8 números consecutivos y una letra MAYÚSCULA al final"
        onfocus="document.getElementById('ocultar').hidden = true">

    <p class="p_form">
        <label for="nombre">Nombre de Usuario: </label>
    </p>
    <input class="validaRegistro" type="text" name="nombre" id="nombre" required minlength="8"
        pattern="(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+"
        title="Mínimo 8 caracteres. Al menos una letra y un número sin espacios"
        onfocus="document.getElementById('ocultar').hidden = true">

    <p class="p_form">
        <label for="password">Contraseña: </label>
    </p>
    <input class="validaRegistro" type="password" name="password" id="password" autocomplete="off" required
        minlength="8" pattern="(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+"
        title="Mínimo 8 caracteres. Al menos una letra y un número sin espacios"
        onfocus="document.getElementById('ocultar').hidden = true">
    
    <p class="p_form">
        <label for="password">Repetir Contraseña: </label>
    </p>
    <input class="validaRegistro" type="password" name="password2" id="password2" autocomplete="off" required
        minlength="8" pattern="(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+"
        title="Mínimo 8 caracteres. Al menos una letra y un número sin espacios"
        onfocus="document.getElementById('ocultar').hidden = true">

    <br>
    <br>

    <button class="btEnviar" type="submit">Alta Nuevo Usuario</button>

    <% if ((enviado=='true' ) && (visible=='true' )) { %>
        <p class="correcto" id="ocultar">Usuario registrado correctamente</p>
        <% } else if ((visible=='true' ) && (existeUsu=='true' )) { %>
            <p class="error" id="ocultar">Nombre de usuario o DNI ya existen en el sistema</p>
            <% } else if (error=='true' ) { %>
                <p class="error" id="ocultar">Error al registrarse. Inténtelo de nuevo más tarde</p>
                <% } %>

</form>

<p>¿Ya estás registrado? <a href="/login">Iniciar sesión</a></p>

<br>

<div align="center">
    <button onclick="location.href='/'">Volver al Inicio</button>
</div>

<script>

    const dni = document.getElementById("dni");    
    const nombre = document.getElementById("nombre");
    const password = document.getElementById("password");  
    const password2 = document.getElementById("password2");  

    function validar() {
        if (nombre.value == password.value) {
            password.setCustomValidity("Usuario y contraseña no pueden coincidir");
        } else {
            password.setCustomValidity("");
        }

        if (password.value !== password2.value) {
            password2.setCustomValidity("Las contraseñas no coinciden");
        } else {
            password2.setCustomValidity("");
        }
    }

    function validarDNI() {
        const dniInput = dni.value;  
        console.log('DNI introducido: ', dniInput);
        const letras = 'TRWAGMYFPDXBNJZSQVHLCKE'; 

        // 2. Extraer número y letra
        const numero = parseInt(dniInput.substring(0, 8));
        const letraIntroducida = dniInput.substring(8);

        // 3. Calcular la letra correcta
        const resto = numero % 23;
        const letraCorrecta = letras[resto];

        // 4. Comparar y mostrar resultado
        if (dniInput.length < 9) {
            dni.setCustomValidity("DNI incompleto. 8 números y una letra mayúscula.");
            return;
        }   
        if ((letraIntroducida == letraCorrecta) || (letraIntroducida == "indefined")) {
            dni.setCustomValidity("");
        } else {
            dni.setCustomValidity("DNI inválido. La letra correcta sería " + letraCorrecta + " mayúscula.");           
        }
    }

    dni.addEventListener("input", validarDNI);
    nombre.addEventListener("input", validar);
    password.addEventListener("input", validar);  
    password2.addEventListener("input", validar); 

</script>