<script src="scripts/validaDatosRegistro.js" defer></script>

<h1>Registro de Nuevos Usuarios</h1>

<form id="myForm" action="/registro" method="post">
    <p class="p_form">
        <label for="dni">DNI de Usuario: </label>
    </p>
    <input class="validaRegistro" type="text" name="dni" id="dni" required maxlength="9" minlength="9"
        pattern=".{8}[A-Z]" title="9 caracteres. 8 números consecutivos y una letra MAYÚSCULA al final"
        onfocus="document.getElementById('ocultar')?.classList.add('escondido');">

    <p class="p_form">
        <label for="nombre">Nombre de Usuario: </label>
    </p>
    <input class="validaRegistro" type="text" name="nombre" id="nombre" required minlength="8"
        pattern="(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+"
        title="Mínimo 8 caracteres. Al menos una letra y un número sin espacios"
        onfocus="document.getElementById('ocultar')?.classList.add('escondido');">

    <p class="p_form">
        <label for="email">Correo Electrónico: </label>
    </p>
    <input class="validaRegistro" type="email" name="email" id="email" required 
        pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/"
        title="Introduzca un correo electrónico válido"
        onfocus="document.getElementById('ocultar')?.classList.add('escondido');">

    <p class="p_form">
        <label for="password">Contraseña: </label>
    </p>
    <input class="validaRegistro" type="password" name="password" id="password" autocomplete="off" required
        minlength="8" pattern="(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+"
        title="Mínimo 8 caracteres. Al menos una letra y un número sin espacios"
        onfocus="document.getElementById('ocultar')?.classList.add('escondido');">
    
    <p class="p_form">
        <label for="password">Repetir Contraseña: </label>
    </p>
    <input class="validaRegistro" type="password" name="password2" id="password2" autocomplete="off" required
        minlength="8" pattern="(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+"
        title="Mínimo 8 caracteres. Al menos una letra y un número sin espacios"
        onfocus="document.getElementById('ocultar')?.classList.add('escondido');">

    <br>
    <br>

    <button class="btEnviar" type="submit">Alta Nuevo Usuario</button>

    <% if ((enviado=='true' ) && (visible=='true' )) { %>
        <p class="correcto" id="ocultar">Usuario registrado correctamente</p>
        <% } else if ((visible=='true' ) && (existeUsu=='true' )) { %>
            <p class="error" id="ocultar">Nombre de usuario o DNI ya existen en el sistema</p>
            <% } else if (error=='true' ) { %>
                <p class="error" id="ocultar">Error al registrarse. Inténtelo de nuevo más tarde</p>
                <% } %>

</form>

<p>¿Ya estás registrado? <a href="/login">Iniciar sesión</a></p>

<br>

<div align="center">
    <button onclick="location.href='/'">Volver al Inicio</button>
</div>
