<header>
  <nav class="navHeader">
    <a href="/">CRUD MVC Con NodeJS</a>
    <ul class="menu">
      <li class="menu__item"><a href="/">Inicio</a></li>      
      <li class="menu__item"><a href="/contacto">Contacto</a></li>
      <li class="menu__item"><a href="/login">Iniciar Sesión</a></li>
    </ul>    
  </nav>
</header>