<header>
  <nav class="navHeader">
    <a href="/">CRUD MVC Con NodeJS</a>
    <ul class="menu">
      <li class="menu__item"><a href="/indexLog">Inicio</a></li> 
      <li class="menu__item"><a href="/codigoQR">Código QR</a></li>      
      <li class="menu__item"><a href="/productos">Productos</a></li>
      <li class="menu__item"><a href="/categorias">Categorías</a></li>     
      <li class="menu__item"><a href="/contacto/contactoLog">Contacto</a></li>
      <li class="menu__item">
        <a href="#"><%= username %></a>
          <ul class="submenu">
        <li><a href="/login/logout">Cerrar Sesión</a></li>        
      </ul>
      </li>
    </ul>    
  </nav>
</header>