<h1>Crear Nueva Categoría</h1>
<form action="/categorias/create" method="POST">
  <p class="p_form">
    <label for="nombre">Nombre:</label>
  </p>
  <input type="text" id="nombre" name="nombre" required />
  <p class="p_form">
    <label for="descripcion">Descripción:</label>
  </p>
  <textarea id="descripcion" name="descripcion" required></textarea>
  <br>
  <br>
  <input type="submit" value="Crear Categoría" />
</form>
<br />
<div align="center">
  <button onclick="location.href='/categorias'">Volver a Categorías</button>
</div>