<h1>Eliminar Categoría</h1>
<form class="form-delete" action="/categorias/<%= categoria.id %>/delete?_method=DELETE" method="POST">
    <p class="p_form">
        <label for="id">ID:</label>
    </p>
    <input type="text" id="id" name="id" value="<%= categoria.id %>" disabled />
    <p class="p_form">
        <label for="nombre">Nombre:</label>
    </p>
    <input type="text" id="nombre" name="nombre" value="<%= categoria.title %>" disabled />
    <p class="p_form">
        <label for="descripcion">Descripción:</label>
    </p>
    <textarea id="descripcion" name="descripcion" disabled>
<%= categoria.description %></textarea>
    <br>
    <br>
    <input type="submit" value="Eliminar Categoría" />
</form>
<br>
<div align="center">
    <button onclick="location.href='/categorias'">Volver a Categorías</button>
</div>

<script>
    document.addEventListener('submit', (event) => {
        event.preventDefault();

        if (event.target.classList.contains('form-delete')) {
            if (confirm('¿Estás seguro de que deseas eliminar esta categoría?')) {
                event.target.submit();
            }
        }
    });  
</script>