<h1>Actualizar Categoría</h1>
<form action="/categorias/<%= categoria.id %>/update?_method=PUT" method="POST">
    <p class="p_form">
        <label for="id">ID:</label>
    </p>
    <input type="text" id="id" name="id" value="<%= categoria.id %>" disabled />
    <p class="p_form">
        <label for="nombre">Nombre:</label>
    </p>
    <input type="text" id="nombre" name="nombre" value="<%= categoria.title %>" required />
    <p class="p_form">
        <label for="descripcion">Descripción:</label>
    </p>
    <textarea id="descripcion" name="descripcion" required>
<%= categoria.description %></textarea>
    <br>
    <br>
    <input type="submit" value="Actualizar Categoría" />
</form>
<br>
<div align="center">
    <button onclick="location.href='/categorias'">Volver a Categorías</button>
</div>