         <h1 class="error">Error al VALIDAR o PROCESAR el certificado</h1>

         <% if (typeof mensajeOCSP != 'undefined') {  %>
            <h3 class="error"><%= mensajeOCSP %></h3>
        <% }; %>

         