<script src="scripts/actualizaReloj.js" defer></script>
<h1>Código QR:</h1>    
<h3 class="relojH3"><%= fecha %></h3>
<div class="reloj" id="reloj"><%= hora %></div>
<img class="imageQR" src="<%= qrImageSrc %>" alt="Código QR generado">

<script src="/socket.io/socket.io.js"></script>

<script>

const socket = io();
    
socket.on('EjecutarRecargaQR', () => {
    console.log('Código QR Renovado.'); // El navegador reacciona al evento del servidor
    window.location.reload();
});

</script>