<script src="scripts/actualizaReloj.js" defer></script>
<h1>Código QR:</h1>    
<h3 class="relojH3"><%= fecha %></h3>
<div class="reloj" id="reloj"><%= hora %></div>
<img class="imageQR" src="<%= qrImageSrc %>" alt="Código QR generado">