<h1>Crear Nuevo Producto</h1>
<form action="/productos/create" method="POST">
  <p class="p_form">
    <label for="nombre">Nombre:</label>
  </p>
  <input type="text" id="nombre" name="nombre" required />
  <p class="p_form">
    <label for="categoria">Categoría:</label>
  </p>
  <select id="categoria" name="categoria" required>
    <option value=""></option>
    <% categorias.forEach(function(categoria) { %>
      <option value="<%= categoria.id %>"><%= categoria.title %></option>
    <% }); %>
  </select>  
  <p class="p_form">
    <label for="descripcion">Descripción:</label>
  </p>
  <textarea id="descripcion" name="descripcion" required></textarea>
  <br>
  <br>
  <input type="submit" value="Crear Producto" />
</form>
<br />
<div align="center">
  <button onclick="location.href='/productos'">Volver a Productos</button>
</div>