<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="" />
  </head>
  <body>
    <%- include('../partials/header-public') %>
    <main><%- body %></main>
    <%- include('../partials/footer') %>
  </body>
</html>

<script>
    window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    };    
</script>
